body{color:black;
    font-family:"Courier New";
background-color: aquamarine;

overflow-x: hidden;
}

h1, h2, h3 {
    font-family:"Courier New";

} 

#id0{
    font-size: 40px;
}




.class{
    border-style:solid;
    border-width:2em;
    border-color:gold;
    padding:4em;
    margin:4em;

    
}


img{
    
    margin:3rem;
}



#id2{
    position: relative;
    top:3.2px;
    left:224px;
    margin:64px;
    border-style:solid;
    border-width:4px;
    padding:16px 16px 100px 16px;
    height: 256px;
    width: 512px;


}

#id3{
    position: relative;
    top:3.2px;
    left:224px;
    margin:64px;
    border-style:solid;
    border-width:4px;
    padding:16px;
    height: 512px;
    width: 512px;
    opacity: 0.7;

}
#id4{
    position: relative;
    border-style:solid;
    border-color:black;

    position:relative;
    
    height:600px;
   
    margin:20px;
}

button:hover{

    
    background-color:yellow;
    transform: translateY(-5px);
    
}

#id6{
    position: relative;
    top:-105px;
    left:525px;
   
}

.pagination{
    text-align:center;
  
}

.pagination a{
    color:black;
    text-decoration:none;
    padding:10px;
}

.pagination a.active{
    font-weight:bold;
    background-color:yellow;

}

.pagination a:hover:not(.active){
  background-color:grey;
  opacity:0.8;
}






