body{color:black;
    font-family:"Calibri";
background-color: aquamarine;

overflow-x: hidden;
}

h1, h2, h3 {
    font-family:"Kanit";

} 

#id0{
    font-size: 40px;
}




.class{
    border-style:solid;
    border-width:2em;
    border-color:gold;
    padding:4em;
    margin:4em;

    
}


img{
    
    margin:3rem;
}



#id2{
    position: relative;
    top:3.2px;
    left:224px;
    margin:64px;
    border-style:solid;
    border-width:4px;
    padding:16px 16px 100px 16px;
    height: 256px;
    width: 512px;


}

#id3{
    position: relative;
    top:3.2px;
    left:224px;
    margin:64px;
    border-style:solid;
    border-width:4px;
    padding:16px;
    height: 512px;
    width: 512px;
    opacity: 0.7;

}
#id4{
    position: relative;
    border-style:solid;
    border-color:black;

    position:relative;
    
    height:600px;
   
    margin:20px;
}

button:hover{

    
    background-color:yellow;
    transform: translateY(-5px);

}

#id6{
    position: relative;
    top:-105px;
    left:525px;
   
}

#planet{
   
    /*Size of image*/
    
    
    /*Image appearance*/
    z-index: -1;
    opacity: 0.7;

    /*Box layout*/
    border: 2px solid black;
    padding:20px;
    margin:2em;

    /*Positioning*/
    position: absolute;
    left:1100px; 
   
  
}

#planet3{
   
    /*Size of image*/
    height:30%;
    width:30%;
    
    /*Image appearance*/
    z-index: -1;
    opacity: 0.7;

    /*Box layout*/
    border: 2px solid black;
    padding:20px;
    margin:2em;

    /*Positioning*/
    position: sticky;
    top:5em; 
   
  
}
#planet4{
   
    /*Size of image*/
    height:60%;
    width:60%;
    
    /*Image appearance*/
    z-index: -1;
    opacity: 0.7;

    /*Box layout*/
    border: 2px solid black;
    padding:20px;
    margin:2em;

    /*Positioning*/
    position: fixed; 
left:20em
   
  
}



/*From below onwards*/






