body{
    font-family:Arial;
}
header{
    color:black;
    background-color: hsl(13, 92%, 43%);


/*positioning*/
position:fixed;
top:0px;
left:0px;
   
   width:100%;
   height:20%;
  

}

footer{

    color:hsl(13, 92%, 43%);
    background-color: black;


position: absolute;
left:0px;
width:100%;
height:30%;



}

div{
    position:fixed;
    top:20px;
    left:100px;
    font-size:larger;
}
#div1{
    position: absolute;
left:0px;
    float:left;

}

#div2{
    position: absolute;
left: 500px;
   
    
}


.navbar{

   position: fixed;
 width:100%;
 top:100px;
 left:0px;
   
    

}


.navbar ul{


    list-style-type: none;
    background-color:pink;
    overflow:hidden;
    
}

.navbar li{
    float:left;
    margin:10px;
}

article{

    border:solid black;

    float:left;
    width:30%;

    padding:10px;
    margin:10px;
}

section{
    border:solid black;
    float:left;
    width:30%;

    padding:10px;
    margin:10px;
}

aside{
    border:solid black;

    padding:10px;
    margin:10px;

    float:left;
    width:25%;
}


#redd{
    position:fixed;
    top:20px;
    left:20px;

}


.pagination{
    text-align:center;
  
}

.pagination a{
    color:black;
    text-decoration:none;
    padding:10px;
}

.pagination a.active{
    font-weight:bold;
    background-color:yellow;

}

.pagination a:hover:not(.active){
  background-color:grey;
  opacity:0.8;
}

