
header{
    color:black;
    background-color: hsl(13, 92%, 43%);

/*positioning*/
position:fixed;
top:0px;
left:0px;
   
   width:100%;
   height:20%;
  

}
footer{

    color:hsl(13, 92%, 43%);
    background-color: black;


position: absolute;
left:0px;
width:100%;
height:30%;

}

