body{
    background-color:rgb(85, 85, 202);
    color: white;
    overflow-x: hidden;
    padding: 20px;
}


h1{
    color:white;
}

h2{
     
    color:white;
}
h3{
    color:white;
}   
h4{
    color:white;
}
h5{
    color:white;
}
p{
    color: white;
}

.pagination{
    text-align:center;
   
  
}

.pagination a{
    color:black;
    text-decoration:none;
    padding:10px;
 
}

.pagination a.active{
    font-weight:bold;
    background-color:yellow;

}

.pagination a:hover:not(.active){
  background-color:grey;
  opacity:0.8;
}
